/* Header */

.top-nav {
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff;
}

.top-nav nav a,
.lang a {
  display: inline-block;
  margin-right: 10px;
  transition: color .3s;
}

.top-nav nav a:hover,
.lang a:hover {
  color: #bbb;
}

.top-nav .row {
  justify-content: space-between;
}

.top-nav .lang a.active {
  color: #bbb;
}

.top-nav .lang a:not(:last-child) {
  position: relative;
  margin-right: 8px;
}

.top-nav .lang a:first-of-type::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -7px;
  width: 0;
  height: 18px;
  opacity: 1;
  border: .5px solid #fff;
}

.main-header {
  padding-top: 20px;
  padding-bottom: 30px;
}

.main-header .row {
  justify-content: space-between;
}

.main-header a {
  display: block;
}

.main-header .flag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.main-header .flag img {
  width: 40px;
}

/* Content */

.promo {
  padding: 15px 0 20px;
  background-image: url(../img/promo-image.jpg);
  background-position: center;
  background-size: cover;
}

.promo h2,
.promo p,
.promo button {
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  font-weight: 300;
  color: white;
}

.promo h2 {
  font-size: 65px;
  max-width: 750px;
}

.promo p {
  font-size: 22px;
  line-height: 1em;
  max-width: 750px;
  font-weight: 100;
  letter-spacing: .1em;
}

.promo button {
  display: block;
  padding: 20px 55px;
  font-size: 17px;
  border: 1px solid white;
  background-color:transparent;
  cursor: pointer;
  transition: color .3s, border .3s;
}

.promo button:hover {
  color: #bbb;
  border: 1px solid #bbb;
}

h1 {
  font-size: 78px;
  margin: 20px;
}

.center {
  justify-content: center;
}

figure {
  margin: 0;
}

figure img {
  margin: 15px 0 0;
  width: 100%;
}

figcaption {
  padding: 5px;
  font-size: 12px;
  color: #bbb;
}

.article a h3,
.article a p {
  padding: 0 5px 5px 5px;
  margin-top: 0;
}

.article hr {
  margin: 0 5px 4px;
}

h3 {
  margin: 0;
}

.model-details {
  font-size: 12px;
  letter-spacing: 0;
}

.sports {
  position: relative;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000;
  overflow: hidden;
  color: #fff;
}

.sports .background {
  width: 100%;
  filter: brightness(35%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.sports .sports-content {
  position: relative;
}
