.white {
  color: white;
}
.top-nav {
  padding-top: 3px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff;
}

.top-nav nav a,
.lang a {
  display: inline-block;
  margin-right: 10px;
  transition: color .3s;
}

.top-nav nav a:hover,
.lang a:hover {
  color: #bbb;
}

.top-nav .row {
  justify-content: space-between;
}

.top-nav .lang a.active {
  color: #bbb;
}

.top-nav .lang a:not(:last-child) {
  position: relative;
  margin-right: 8px;
}

.top-nav .lang a:first-of-type::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -7px;
  width: 0;
  height: 18px;
  opacity: 1;
  border: .5px solid #fff;
}

/* Windows menu*/


/* Content */

.promo {
  background-image: url(../img/promo-image.jpg);
}

.promo h2 {
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  font-size: 65px;
  font-weight: 300;
  min-width: 450px;
  max-width: 650px;
}

.promo p {
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  font-size: 22px;
  line-height: 1em;
  font-weight: 300;
  min-width: 450px;
  max-width: 650px;
}

.promo button {
  margin: 0 auto;
  display: block;
  padding: 20px;
  font-size: 17px;
  border: 1px solid white;
  background-color:transparent;
}
